body{
    background-color: rgb(98, 98, 98);
    background-image: url(img/thegame.jpg);
background-repeat: no-repeat;
background-size: 1800px;


}


#box {
    text-align: center;
}

table {
    border-collapse: collapse;
    font-size: 150%;
    font-family: san-serif;
    font-weight: bold;
    display: inline-block;
    margin-top: 40px;
}

 table td {
    background-color: rgb(95, 57, 45);
    width: 30px;
    min-width: 30px;
    height: 30px;
    min-height: 60px;
    border: 1px solid rgb(189, 175, 175);   
    font-size: 20px;
}

button {
    width: 250px;
    height: 80px;
    background-color:rgb(195, 195, 195);
    color: black;
    font-weight: bolder;
    border-radius: 20px 20px 20px 20px;
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
font-size: 100px;
font-family: Georgia, 'Times New Roman', Times, serif;
}